@{
	ViewData["Title"] = "Home";
}

<div class="page-info">
	<h2 class="pull-left">Blog Posts</h2>
	<div class="pull-right">
		<a href="/Home/Add" class="btn btn-success"><i class="fa fa-plus-circle fa-text-right"></i>Create New Blog Post</a>
	</div>
	<div class="clear"></div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><span class="toggle-area" data-area="filter-criteria"><i class="fa fa-toggle-up fa-text-right"></i>Filter Criteria</span></div>
	<div class="panel-body" id="filter-criteria">
		<form class="form-inline" role="form">
			<div class="form-group">
				<label for="Title">Title</label><br />
				<input type="text" class="form-control" id="Title" />
			</div>
			<div class="form-group">
				<label for="IsPage">Type</label><br />
				<select class="form-control" id="IsPage">
					<option value="">Any</option>
					<option value="true">Page</option>
					<option value="false">Post</option>
				</select>
			</div>
			<div class="form-group">
				<label>&nbsp;</label><br />
				<button id="filter" type="submit" class="btn btn-primary"><i class="fa fa-filter fa-text-right"></i>Filter</button>
				<button id="clear" type="submit" class="btn btn-default"><i class="fa fa-close fa-text-right"></i>Clear</button>
			</div>
		</form>
	</div>
</div>

<div class="paging-controls">
	<span class="previous"><a href="#" data-bind="visible: HasPreviousPage" class="lnkPrevious">&laquo; previous</a>&nbsp;</span>
	<span class="current">Showing <span data-bind="text: StartRecord"></span>-<span data-bind="text: EndRecord"></span> of <span data-bind="text: TotalRecords"></span></span>
	<span class="next">&nbsp;<a href="#" data-bind="visible: HasNextPage" class="lnkNext">next &raquo;</a></span>
	<div class="clear"></div>
</div>

<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th width="100%" class="bg-primary">Title</th>
			<th class="bg-primary text-center nowrap">Type</th>
			<th class="bg-primary text-center nowrap">Published</th>
			<th class="bg-primary text-right nowrap">Published On</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: PageResults">
		<tr>
			<td><a data-bind="text: Title, attr: { href: '/Home/Edit/' + Id() }"></a></td>
			<td class="text-center"><span data-bind="visible: IsPage">Page</span><span data-bind="visible: !IsPage()">Post</span></td>
			<td class="text-center"><i data-bind="visible: IsPublished" class="fa fa-check green" title="Published"></i></td>
			<td class="text-right" data-bind="text: formatDate(PublishedOn)"></td>
		</tr>
	</tbody>
</table>

<div class="paging-controls">
	<span class="previous"><a href="#" data-bind="visible: HasPreviousPage" class="lnkPrevious">&laquo; previous</a>&nbsp;</span>
	<span class="current">Showing <span data-bind="text: StartRecord"></span>-<span data-bind="text: EndRecord"></span> of <span data-bind="text: TotalRecords"></span></span>
	<span class="next">&nbsp;<a href="#" data-bind="visible: HasNextPage" class="lnkNext">next &raquo;</a></span>
	<div class="clear"></div>
</div>


@section scripts
	{
	<script type="text/javascript">
		var ajaxRequest = null;
		var viewModel = null;
		var pageNo = 1;
		var take = 20;

		$(function ()
		{
			$("#filter").click(function (e) {
				e.preventDefault();
				pageNo = 1;
				search();
			});

			$("#clear").click(function (e) {
				e.preventDefault();
				$("#Title").val("");
				$("#IsPage").val("");
				pageNo = 1;
				search();
			});

			$(".lnkPrevious").click(function (e) {
				e.preventDefault();
				pageNo = pageNo - 1;
				search();
			});

			$(".lnkNext").click(function (e) {
				e.preventDefault();
				pageNo = pageNo + 1;
				search();
			});

			search();
		});

		function search() {
			if (ajaxRequest !== null) {
				ajaxRequest.abort();
			}

			var requestData =
			{
				Skip: (pageNo - 1) * take,
				Take: take,
				Title: $("#Title").val(),
				IsPage: $("#IsPage").val()
			};

			ajaxRequest = $.ajax({
				type: "POST",
				url: "/Home/Search",
				contentType: "application/json",
				data: JSON.stringify(requestData),
				success: function (responseData) {
					ajaxRequest = null;
					if (viewModel === null) {
						viewModel = ko.mapping.fromJS(responseData);
						ko.applyBindings(viewModel);
					} else {
						if (responseData.StartRecord > responseData.TotalRecords && pageNo > 1) {
							pageNo = pageNo - 1;
						} else {
							ko.mapping.fromJS(responseData, viewModel);
						}
					}
				},
				error: function () {
					ajaxRequest = null;
				}
			});
		}
	</script>
}