body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

input,
select,
textarea {
	max-width: 280px;
}

footer {
	text-align: center;
	font-size: 0.8em;
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

.hide {
	display: none;
}

.clear {
	clear: both;
}

.fleft {
	float: left !important;
}

.fright {
	float: right !important;
}

.nowrap {
	white-space: nowrap;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.toggle-area {
	cursor: pointer;
}

.green {
	color: #449D44;
}

.red {
	color: #C9302C;
}

.fullwidth {
	max-width: 100%;
}

.gray, .grey {
	color: #979ea2;
}

.page-info {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #eeeeee;
}

.page-info .btn {
	margin-top: 15px;
}

.fa-text-right {
	margin-right: 6px;
}

.fa-2x {
	vertical-align: middle;
}

.borderless td, .borderless th {
	border: none !important;
}

.input-validation-error {
	border: 1px solid #C9302C !important;
}

.field-validation-error {
	color: #C9302C;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 15px;
}

/* bootstrap overrides */
.table {
	margin-bottom: auto;
}

.table-bordered > thead > tr > th {
	border: 1px solid #286090 !important;
	border-collapse: collapse;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #e1ebf4;
}
/* end bootstrap overrides */

/* PAGING */

.paging-controls {
	display: block;
	margin: 2px 0;
}

.paging-controls .previous {
	width: 30%;
	display: block;
	float: left;
	text-align: left;
}

.paging-controls .current {
	width: 40%;
	display: block;
	float: left;
	text-align: center;
}

.paging-controls .next {
	width: 30%;
	display: block;
	float: right;
	text-align: right;
}

.row-full {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	height: 100px;
	left: 50%;
}

.editorArea {
	background-color: #eee;
	padding: 10px 0 0 0;
	margin: 0 0 10px 0;
}

.editorArea textarea
{
	min-height: 400px;
}

.previewArea {
	background-color: #fff;
	min-height: 400px;
}